/* General styles */
.seleccion-view {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh; /* Asegura que ocupe toda la altura de la pantalla */
    box-sizing: border-box;
    background-color: white;
    height: 100%;
}

.header-title {
    color: #283618;
    margin-bottom: 20px;
    text-align: center; /* Centra el título */
    font-size: 1.8rem;
}

/* Card container */
.card {
    width: 95%; /* Ajuste para ocupar el 95% del ancho de la pantalla */
    height: 85%; /* Aumenta ligeramente la altura */
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: none; /* Elimina el ancho máximo para pantallas grandes */
    overflow: hidden;
}

/* Card header */
.card-header {
    font-size: 1.2rem;
    font-weight: bold;
    color: #283618;
    text-align: center; /* Centrar el texto del encabezado */
}

/* Card body */
.card-body {
    overflow-x: auto; /* Habilita scroll horizontal para tablas grandes */
    padding: 10px;
}

/* Table styles */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    color: #283618;
    font-size: 0.9rem; /* Ajustar el tamaño de fuente */
}

.table th,
.table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.table th {
    background-color: #f4f4f4;
    color: #283618;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 5px;
}

.pagination button {
    background-color: #606C37;
    border: 1px solid #ddd;
    padding: 5px 10px;
    cursor: pointer;
}

.pagination button.active {
    background-color: #606C37;
    color: white;
}

.pagination button:disabled {
    background-color: #606C37;
    cursor: not-allowed;
}

/* Button styles */
.btn {
    font-size: 0.9rem;
    padding: 10px 15px;
}

.btn-success {
    background-color: #606C37;
    border-color: #606C37;
}

.btn-edit {
    background-color: #007bff; /* Azul para editar */
    color: white;
    border: none;
    transition: background-color 0.3s ease;
}

.btn-edit:hover {
    background-color: #0056b3; /* Un tono más oscuro para hover */
}

.btn-delete {
    background-color: #dc3545; /* Rojo para eliminar */
    color: white;
    border: none;
    transition: background-color 0.3s ease;
}

.btn-delete:hover {
    background-color: #a71d2a; /* Un tono más oscuro para hover */
}

/* Espaciado entre los botones en la tabla */
.btn-edit,
.btn-delete {
    margin-bottom: 5px; /* Espacio vertical entre los botones */
}

/* Modal styles */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal {
    background-color: #fff;
    width: 50%;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    padding: 20px;
}

.modal-header {
    display: flex;
    justify-content: center; /* Centramos el título */
    align-items: center;
    margin-bottom: 10px;
}

.modal-header h5 {
    font-size: 1.5rem;
    margin: 0;
    color: #283618; /* Verde musgo */
    text-align: center;
}

.close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #333;
}

.modal-body {
    margin-bottom: 20px;
    font-size: 0.9rem;
}

.modal-body label {
    display: block;
    margin-bottom: 5px;
    color: #000; /* Color negro para los títulos */
    font-weight: bold;
}

.modal-delete-text {
    color: #000; /* Cambia el color del texto a blanco */
    font-size: 1rem; /* Ajusta el tamaño del texto si es necesario */
    text-align: left; /* Centra el texto */
    margin: 0;
}

.modal-body input,
.modal-body select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff; /* Fondo blanco para los inputs */
    color: #000; /* Texto negro dentro de los inputs */
    font-size: 0.9rem;
    box-sizing: border-box;
}

.modal-body input::placeholder,
.modal-body select::placeholder {
    color: #000; /* Color negro para los placeholders */
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
}

.modal-footer .btn {
    margin-left: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.modal-footer .btn-success {
    background-color: #606C37;
    color: #fff;
    border: none;
}

.modal-footer .btn-danger {
    background-color: #333;
    color: #fff;
    border: none;
}

.modal-footer .btn-success:hover {
    background-color: #4e592f;
}

.modal-footer .btn-danger:hover {
    background-color: #222;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .card {
        width: 100%; /* Ocupa todo el ancho disponible en pantallas pequeñas */
        padding: 10px;
    }

    .table {
        font-size: 0.8rem; /* Reduce el tamaño de fuente en pantallas pequeñas */
    }

    .header-title {
        font-size: 1.5rem; /* Reduce el tamaño del título */
    }

    .modal-content {
        width: 95%; /* Ocupa casi todo el ancho en pantallas pequeñas */
    }

    .modal-header h5 {
        font-size: 1.2rem;
    }
}
